POSTGRES_DB=factory_vision
POSTGRES_USER=factory_user
POSTGRES_PASSWORD=factory_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

DJANGO_SECRET_KEY=change-me-later
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

API_PORT=8000
INFERENCE_PORT=8001
WEB_PORT=3000

INPUT_DIR=./shared/input
MEDIA_DIR=./shared/media
MODEL_DIR=./artifacts/models/current